 @import '../scss';

 .layout-admin {
    transition: margin-left 0.2s;
    &__header {
        background-color: rgb(1, 0, 37);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        padding: 0;
        height: 65px;
    }

    &__content {
        min-height: calc( 100vh - 72px );
        padding: 75px 25px 25px 25px;
        background-color: red;
    }

    &__footer {
        padding: 25px;
        background-color: green;
    }
 }